footer {
    color: blue;
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    display: flex;
}